.App {
  text-align: center;
}

.App-logos {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logos {
    animation: App-logo-spin infinite 20s linear;
  }
}
img {
  display: block;
  margin: 0 auto;
  width: 30%;
}

h1 {
  text-align: center;
  font-size: xx-large;
  color: blue;
}
input{
  align-content: center;
}

.main-container{
  background:  orangered;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:  20px blue ;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
